*{
    box-sizing: border-box;
}

body{
    display:flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.button-1{
    width: 8rem;
    height: 2rem;
    background-color: rgb(231, 229, 229);
    color:green;
    border-radius: 25px;
    border: green 2px solid;
}

.button-2{
    width: 3rem;
    height: 3rem;
    background-color: lightgreen;
    border-radius: 100%;
    margin-right: 6rem;
    font-weight: bold;
    color: white;
    font-size: 2rem;
    border: none !important;
}

.button-3{
    margin-left: 3rem;
    width: 12rem;
    height: 3.5rem;
    background-color: blue;
    color: white;
    box-shadow: 5px 10px 10px black;
    border: 4px solid black;
}